<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h3>{{ appName | async }}</h3>
      <input type="text" #taskTitle>
      <button style="margin-left: 10px;" class="btn btn-primary" (click)="onAddTask(taskTitle.value)">Add Task</button>

      <br><br>
      <button class="btn btn-primary" (click)="onSave()">Save Tasks</button>

      <br><br>
      <button class="btn btn-primary" (click)="getAllTasks()">Get Tasks</button>
      <hr>
      <ul class="list-group" *ngFor="let task of tasks">
        <li class="list-group-item">{{ task.title }} (ID: {{ task.id }})</li>
      </ul>
    </div>
  </div>
</div>
  